.body{

	background-color: black;
	margin: 0;

}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(-90deg, #46a404, black);
  position: relative;
  z-index: 2;
}

li.navbar {
  float: left;
}

li a.navbar {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Verdana, sans-serif;
}

li a.navbar:hover {
  background-color: #46a404;
}

.active{
	
background-color: #d08300;	

}

.background {
	
	background-image: url(images/cave.png);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	opacity: 0.6;
	z-index: 1;
	
}

.stone{

	position: fixed;
	bottom:0;
	right: -8%;
	z-index: 10;
	pointer-events: none;
}


.stone2{

	position: fixed;
	bottom:0;
	left:  -8%;
	z-index: 10;
	pointer-events: none;
}



.logo
    {
      position:absolute;
      top: 15%;
      left: 35%;
      z-index: 3;
	  width:350px;
	  height:300px;
	  pointer-events: none;
    }
	
.ears
    {
      position:absolute;
      top: 15%;
      left: 35%;
      z-index: 2;
	  width:350px;
	  height: 300px;
	  transition: transform .7s ease-in-out;
	  pointer-events: none;
    }

.logotext{
	
	position:absolute;
	bottom: 35%;
	left: 30%;
	z-index: 2;
	width: 38%;
	height: 15%;
	pointer-events: none;
	
	
}



.gif1{
	
	position: absolute;
	bottom: -50%;
	left: 15%;
	width: 70%;
	height: 50%;
	z-index: 4;
	pointer-events: none;
	

}





.slogan{
	
	position: absolute;
	top: 70%;
	right: 22%;
	text-align: justify;
	text-transform: uppercase;
	font-size: 30px;
	color: white;
	width: 60%;
	z-index: 5;
	pointer-events: none;

}



.ala{

	background-image: linear-gradient(-90deg, #46a404, black);
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: -130%;
	z-index:3;
	

}

.discord{
	
	position: absolute;
	height: 60%;
	width: 8%;
	right: 55%;
	bottom: 20%;
	z-index: 4;


}

.twitter{
	
	position: absolute;
	height: 60%;
	width: 5%;
	right: 35%;
	bottom: 20%;
	z-index: 4;


}
	
	
}